mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  display: none;
}

.imagePreview {
  height: 70px;
  margin: 10px 0;
}

.imagePreview img {
  height: 100%;
}
